.top-layout {
    background-color: var(--dark-cyan);
    display: flex;
    justify-content: space-between;

    padding: 0.5rem 1rem;
    border: 1px solid black;

    .top-button {
        cursor: pointer;
        border: 0;
        background-color: transparent;

        &:hover {
            color: var(--bright-cyan);
        }
    }
}