@import url(./sass/colors.scss);

body {
    background-color: var(--cyan);
    
    display: flex;
    place-items: center;

    margin: 0;
    min-width: 320px;
    max-width: 100vw;
    min-height: 100vh;
}

#root {
    margin: 0 auto;

    display: flex;
    justify-content: center;
}